<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
    <body>
        <table>
            <thead>
            <tr>
                <th> id </th>
                <th> name </th>
                <th> password </th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${users.isEmpty()}">
                    <td colspan="5"> No Users Available </td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.id}"> model </span></td>
                    <td><span th:text="${user.username}"> series </span></td>
                    <td><a th:href="@{admin/{id}/edit(id=${user.id})}" >edit</a></td>
                    <td><a th:href="@{admin/{id}/delete(id=${user.id})}" >delete</a></td>
                </tr>
            </tbody>
            
        </table>
        <a th:href="@{admin/new}" >add User</a>
        <div th:replace="fragments/logout :: logout"></div>
    </body>
</html>